<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	 
<body th:fragment="main-body">
	<div id="container">
	
 
<form action="/planiter/" method="get" onsubmit="return onSubmit()">
 
		<div id="header">
			<div class="inner">
				<h1 class="lsogo">
					<a th:href="@{/planiter/}"> <img src="/imgs/LOGO.JPG"
						style="width: 190px;">
					</a>
				</h1>

				<div class="search_box">
					<input type="text" placeholder="검색어 입력" id="search-field" name="keyword" th:value="${keyword}">
				</div>
					<div>
					<div class="dropdown">
							<span class="dropbtn_icon"> 
					    <span th:if="${keyField == null}">  
							<img alt="dropDown" src="/imgs/img_section/dropDown2.png" class="dropbtn">
						  </span>  
 						</span>
 						  
 						   <span th:if="${keyField != null}">
 						  <h1 id="keyFieldHTML" th:text="${keyField}"></h1>
 						  </span>
 						  
							<div class="dropdown-content" id="dropdown-content" >
								<div>식물</div>
								<div>계정</div>
								<div>내용</div> 
							</div>
						 
						</div>
							<input type="hidden" id="keyField" name="keyField" th:value="${keyField}"/>
					</div>
 
				 	<span  class="searchSNS" >
 
					<input type="image" src="/imgs/Img_SNS/searchIcon.png"  >
				   </span> 
				   
				
				
				

	<th:block th:if="${session.userdto == null}">
		<a id="profile" th:href="@{/login}" style="margin-left: 5px;"/> login</a>
		<a id="write" th:href="@{/join}" style="margin-left: 5px;"/> join</a>
	</th:block>
	
	<th:block th:if="${session.userdto !=null}"> 
		<a id="profile" th:href="@{/planiter/profile.do}" /> 
	 		<img src="/imgs/img_section/user.png" style="height: 30px; margin-top: 20px; margin-left: 5px;">
	 	</a>
		<a id="write" th:href="@{/planiter/post/write}" /> 
	 		<img src="/imgs/img_section/plus.png" style="height: 30px; margin-top: 20px; margin-left: 5px;">
	 	</a>
	 	<a id="planiter" th:href="@{/planiter/}" /> 
	 		<img src="/imgs/img_section/save-the-planet.png" style="height: 30px; margin-top: 20px; margin-left: 5px;">
	 	</a>
	</th:block>  

 

			</div>
		</div>
	</form>

		<div id="main_container">
			<th:block layout:fragment="content"></th:block>
			<th:block layout:fragment="write-post"></th:block>
			<th:block layout:fragment="read-post"></th:block>
		</div>
		
	</div>

	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="js/main.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<script type="text/javascript">
  
	 function onSubmit() {
			var keyField = document.getElementById('keyField');
			var keyword = document.getElementById('search-field');
		
			if (keyField.value == '' || keyField.value == null) {
				alert('검색조건을 선택해주세요');
				return false;
			}
			if (keyword.value == '' || keyword.value == null) {
				alert('키워드를 입력해주세요');
				return false;
			}

		}
		
		 $("body").on("click", "#dropdown-content div", function () {
			 
			 var keyFieldHTML = $(this).html(); 
			 keyField =  '<h1 id="keyFieldHTML">'+keyFieldHTML+'</h1>';
			 
		 
			 $("#dropdown-content").hide();
			 $(".dropbtn").hide(); 
			 
			 $("#keyFieldHTML").remove();
			 $(".dropbtn_icon").append(keyField);
			 $("#search-field").val('');
			 
			 $("#dropdown-content").show();
			 $("#keyField").val(keyFieldHTML); 
		 	
	  });
 
		 </script>

	 <th:block layout:fragment="script"></th:block>
</body>

</html>