
/* index.html start */

body{
    background:#fafafa;
}


#header{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background:white;
    border-bottom:1px solid rgba(0,0,0,0.1);
}

  
#header .inner{
    width: 975px;
    height: 77px;
    margin: 0 auto;
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    transition:all 1s;
}

 
 
#header .search_box{

    position:relative;
}


#search-field{
   /*  width: 185px; */
    height: 30px;
    background: #FAFAFA;
    border: 1px solid #70C745;
    border-radius: 3px;
    padding: 5px 60px;
    color: #999;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
    outline: none;
    padding-left: 110px;
    margin-left: 120px;
    margin-top: 19px;
}

#search-field::placeholder{
    font-size: 17px;
    text-align: justify;
}

 #search-field:focus::placeholder{
    font-size: 0px;
}
 

#header .search_box .fake_field{
    position: absolute;
    left: 50%;
    top: 50%;
    width:10px;
  
    transform:translate(-50%,-50%);
    pointer-events: none;
}

 
#main_container{
    padding-top: 130px;
    display: flex;
    justify-content: center;
}

#main_container .inner{
    width: 935px;
    /*height: 500px;*/
    /*background: red;*/
    position: relative;
}

 

.contents{
    max-width: 614px;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    margin-bottom: 60px;
    background: white;
}


.contents .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

 

.contents .img_section{
    overflow:hidden;
     text-align: center;
}

.contents .img_section img{
     width: 200px;
     height: 180px;
     
}

.contents .follower_section{
    overflow:hidden;
     text-align: center;
}

.contents .follower_section img{
     width: 200px;
     height: 180px;
     
}

.contents .following_section{
    overflow:hidden;
     text-align: center;
}

.contents .following_section img{
     width: 200px;
     height: 180px;
     
}





 
.side_box{
    width: 293px;
    height: 550px; 
    /*background: rgba(255, 0, 0, 0.16);*/
    position:absolute;
    right: 0;
    top: 0;
    border: 1px solid rgba(0,0,0,0.09);
    background: white;

}

 
.side_box .profile_thumb{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow:hidden;
    margin-right: 10px;
}


.side_box .profile_thumb img{
    width: 100%;
    height:100%;
 }

.side_box .user_profile{
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#262626;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    
    
}


.follower{
margin-top: 300px;
margin-left: 50px;
width: 100px;
text-align: center;
font-size: 20px;
}

.following{
margin-left: 150px;
    width: 100px;
       margin-top: -39px;
    text-align: center;
    font-size: 20px;
}

.single-widget-area {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  
   .single-widget-area .widget-title {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 30px; 
    font-size: 20px;
    }
    
   
      
 
  .single-widget-area .popular-tags li a {
    display: inline-block;
    margin: -5;
    padding: 10px 15px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 14px;
    color: #707070;
    background-color: #f9f9f91f; 
    
    }
    
     .single-widget-area .popular-tags li a:hover, .single-widget-area .popular-tags li a:focus {
      color: #ffffff;
      background-color: #70c745; }
 /* index.html END */
 
 


/* followList start   */

.contents .followList{
    overflow:hidden;
    text-align: center;
	margin: 30px;
	width: 550px;
}

 
.followerButton{
	width: 70px; 
	height: 35px; 
	background-color:transparent; 
	border-color: #70c745;
	margin-left: 300px;
	margin-top: 70px;
}

.followerUserName{
	font-size: 18px;
	height: 50px;
	line-height: 60px;
	margin-left: 20px;
	text-align: left;
}

.followerDis{
	margin-top: 20px;
	height: 40px;
	width: 250px;
	text-align: left;
}

@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);

  
 
 
.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
}
 
.blue-hover {
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
}
.blue-hover:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #74DF00;
}

#main_container .post_inner{
	height: 550px;
    width: 935px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.post_box_right{
	height: 500px;
    width: 380px;
    display: flex;
    flex-direction: column;
    position:relative;
    margin-left: 10px;
    border: 1px solid rgba(0,0,0,0.09);
    background: white;
}

.post_box_right_read{
	height: 500px;
    width: 380px;
    display: flex;
    flex-direction: column;
    position:relative;
    margin-left: 10px;
    border: 1px solid rgba(0,0,0,0.09);
    background: white;
}

.post_box_left{
	height: 500px;
    width: 380px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    position:relative;
    border: 3px solid rgba(0,0,0,0.09);
    background: white;
}

.photo_box{
   height: 350px;
   width: 350px;
   margin: 15px 15px 0px 15px;
   position:relative;
    border: 3px solid rgba(0,0,0,0.09);
    background: white;
   box-sizing: border-box;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

}

.photo_box::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.swiper-container { 
	width: 350px; 
	height: 350px; 
	margin: 15px 15px 0px 15px;
    border: 3px solid rgba(0,0,0,0.09);
    background: white;
	box-sizing: border-box;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	}

.photo_box_insert{
	height: 350px;
	width: 350px;
	margin: 15px 15px 0px 15px;
	position:relative;
    border: 3px solid rgba(0,0,0,0.09);
    background: white;
	box-sizing: border-box;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photo_box img{
	height:100%;
	width:100%;
}

.swiper-slide img{
	height:100%;
	width:100%;
}

.photo_box_insert img{
	height:30px;
	width:30px;
}

.hashtag_box{
	height: 120px;
	width: 350px;
	margin: 15px 15px 15px 15px;
	position:relative;
    background: white;
	box-sizing: border-box;
	padding: 5px;
	text-align: right;
	font-size: 20px;
}

.hashtag_box span{
	line-height: 1.5;
}

.photo{
	height: 100%;
	width: 100%;
}

.write_box{
	height: 350px;
	width: 350px;
	margin: 15px 15px 0px 15px;
	position:relative;
    border: 1px solid rgba(0,0,0,0.09);
    background: white;
	box-sizing: border-box;
	padding: 5px;
}

.read_box{
	height: 250px;
	width: 350px;
	margin: 15px 15px 0px 15px;
	position:relative;
    border: 1px solid rgba(0,0,0,0.09);
    background: white;
	box-sizing: border-box;
	padding: 5px;
}

.select_box{
	height: 50px;
	width: 350px;
	position:relative;
    /*border: 1px solid rgba(0,0,0,0.09);*/
    background: white;
	box-sizing: border-box;
	margin: 15px 15px 0px 15px;
	display: flex;
    flex-direction: row;
    align-items: center;
}

.category{
	position:relative;
	background: white;
	margin-right: 10px;
}

.category select{
	height: 35px;
    width: 100px;
    box-sizing: border-box;
    font-size: 15px;
}

.weather{
	position:relative;
	background: white;
	margin-left: 10px;
}

.weather article{
	font-size: 18px;
	text-align: center;
}

.weather img{
	height: 35px;
	width: 35px;
}

.commit_box{
	height: 50px;
	width: 350px;
	position:relative;
    /*border: 1px solid rgba(0,0,0,0.09);*/
    background: white;
	box-sizing: border-box;
	margin: 5px 15px 15px 15px;
	padding: 5px;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-left: 5px;
}

.commit{
	height: 40px;
	width: 150px;
    border-radius:1px;
    display: flex;
    text-align: center;
    justify-content : center;
    
}

.commit button{
	width:100%;
	height:100%;
    background-color: #9FCF62;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.icon_box{
	height: 50px;
	width: 350px;
	position:relative;
    background: white;
	box-sizing: border-box;
	margin: 0px 15px 0px 15px;
	display: flex;
    flex-direction: row;
    align-items: center;
}

.icon_box img{
	height: 40px;
	width: 40px;
}

.comment_box{
	height: 40px;
	width: 350px;
	position:relative;
    background: white;
	box-sizing: border-box;
	margin: 0px 15px 0px 15px;
	display: flex;
    flex-direction: row;
    align-items: center;
}

.write_comment{
	height: 40px;
	width: 300px;
	position:relative;
    background: white;
	box-sizing: border-box;
	padding: 1px;
}

.write_comment textarea{
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.commit_comment{
	height: 40px;
	width: 40px;
	margin-left: 10px;
	position:relative;
	display: flex;
    text-align: center;
    justify-content : center;
}

.commit_comment button{
	width:40px;
	height:100%;
    background-color: #9FCF62;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}

.comment{
	height: 130px;
	width: 350px;
	position:relative;
    border: 1px solid rgba(0,0,0,0.09);
    background: white;
	box-sizing: border-box;
	margin: 5px 15px 0px 15px;
	display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
}

#comment_table{
	width: 100%;
	height: 100%;
}

#comment_table tr td{
	vertical-align: middle !important;
}

#comment_table tr td:nth-child(1){
	text-align: left;
	width: 20%;
}

#comment_table tr td:nth-child(2){
	text-align: left;
	width: 45%;
}

#comment_table tr td:nth-child(3){
	text-align: right;
	width: 25%;
}

#comment_table tr td:nth-child(4){
	text-align: right;
	width: 10%;
}

/* followList END */





