.main {
	margin-top: 10%;
	overflow-x: hidden;
	height: 100%;
}

#main-wrapper{
	min-height: 700px;
}

footer {
	margin-top: 100px;
	bottom: 0; /* 하단에 여백 없이 */
}


.title{
	margin-bottom: 50px;
}
.title h2 {
	font-weight: bold;
	transform: translate(12%, 0);
}


.search-box {
	margin: 20px 0;
	width: 80%;
	height: 50px;
	text-align: center;
	padding-top: 10px;
	border-bottom: 2px solid #000;
	transform: translate(12%, 0);
}
#search-icon {
	float: left;
	margin: 5px 10px 0 10px;
	color: #aaa;
}
#x-icon {
	float: right;
	margin: 5px 10px 0 10px;
	color: #aaa;
}
.search-info {
	float: left;
	width: 90%;
	border: none;
	outline: none;
}

.search-info::placeholder {
	color: #aaa;
	font-weight: bold;
}


.info {
	width: 80%;
	height: 40px;
	transform: translate(12%, 0);
}
.total {
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	left: 0;
}
.filter {
	list-style:none;
	position: absolute;
	right: 0;
}
.filter li {
	float: left;
	font-size: 15px;
	font-weight: bold;
}
.div {
	color: #bbb;
	margin: 0 10px;
}


.plantList{
	margin: 20px 0;
	transform: translate(12%, 0);
	background: #ddd;
	width: 80%;
	
}
.plant-box{
	width: 250px;
	height: 300px;
	float: left;
	margin-right: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.plant-img {
	border-radius: 15px;
	overflow:hidden;
	width: 100%;
	height: 250px;
}
.plant-name{
	font-weight: bold;
	margin-top: 10px;
}

/* kwd */
.reset {
	margin: 5px;
	border: 1px solid #9FCF62;
	border-radius: 35px;
	padding: 5px 20px;
	background: #9FCF62;
	color: #888;
}
.kwd-box{
	transform: translate(12%, 0);
}
.kwd {
	margin: 5px;
	border: 1px solid #888;
	border-radius: 35px;
	padding: 5px 20px;
	background: #fff;
	color: #888;
}

.kwd:hover {
	border: 1px solid #9FCF62;
	color: #9FCF62;
}
.divide {
	border-top: 1px dashed #ddd;
	 margin-top: 5px; 
	 margin-bottom: 5px; 
	 width: 100%;
}
.first-filter {
	width: 75%;
}
.second-filter{
	width: 75%;
	display: none;
}
.third-filter{
	width: 75%;
	display: none;
}

.active {
	width: 75%;
	display: block;
}

.btn_active {
	border: 1px solid #9FCF62;
	color: #9FCF62;
}
