/* body  */

 
.searchSNS{
	width: 50px;
	height: 40px;
	margin-top: 19px;
	text-align: center;
	margin-left: 4px;
}

.searchSNS input{
	width: 30px;
 
    height: 35px;
    margin-top: -1px;
    margin-left: -7px;
 
}

#keyFieldHTML{
    padding: 12px;
    font-size: 15px;
    width: 30px;
    margin-top: 21px;
    margin-left: -387px;
    color: gray;
    cursor : pointer;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  
  font-family : 'Material Icons';
}
.dropbtn{
  font-weight: 400;
  padding : 12px;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
  width: 23px;
  margin-top: 22px;
  margin-left: -387px;
}


.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  background-color:white;
  margin-left: -392px;
  margin-top: -3px;
}

.dropdown-content div{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.dropdown-content div:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* body END */



/* index.html start */

body{
    background:#fafafa;
}


#header{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background:white;
    border-bottom:1px solid rgba(0,0,0,0.1);
}

  
#header .inner{
    width: 975px;
    height: 77px;
    margin: 0 auto;
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    transition:all 1s;
}

 
 
#header .search_box{

    position:relative;
}


#search-field{
   /*  width: 185px; */
    height: 30px;
    background: #FAFAFA;
    border: 1px solid #9FCF62;
    border-radius: 3px;
    padding: 5px 60px;
    color: #999;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
    outline: none;
    padding-left: 110px;
    margin-left: 120px;
    margin-top: 19px;
}

#search-field::placeholder{
    font-size: 17px;
    text-align: justify;
}

 #search-field:focus::placeholder{
    font-size: 0px;
}
 

#header .search_box .fake_field{
    position: absolute;
    left: 50%;
    top: 50%;
    width:10px;
  
    transform:translate(-50%,-50%);
    pointer-events: none;
}

 
#main_container{
    padding-top: 130px;
    display: flex;
    justify-content: center;
}

#main_container .inner{
    width: 935px;
    /*height: 500px;*/
    /*background: red;*/
    position: relative;

}

 

.contents{
    max-width: 614px;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    margin-bottom: 60px;
    background: white;
}


.contents .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


#searchText{
	color:gray;
	height: 22px;
	margin-top: -21px;
}

.contents .imgList_section{
    overflow:hidden;
    overflow:scroll;
    -ms-overflow-style: none;
    height: 550px;
}

 
 
.contents .imgList_section::-webkit-scrollbar { 
    display: none;
    width: 0 !important;
}

.contents .imgList_section img{
     width: 196px;
     height: 180px;
     padding: 2.3px;
     
}
.contents .imgList_section #profileImgList{
    width: 170px;
    height: 160px;
    padding: 2.3px;
    border-radius: 70%;
     
}

#profileId{
    width: 196px;
    text-align: center;
    font-size: 19px;
    text-decoration:none; 
    color: black;
}


 
.side_box{
    width: 293px;
      height: 550px; 
    /*background: rgba(255, 0, 0, 0.16);*/
    position:absolute;
    right: 0;
    top: 0;
    border: 1px solid rgba(0,0,0,0.09);
    background: white;

}

 
.side_box .profile_thumb{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow:hidden;
    margin-right: 10px;
}


.side_box .profile_thumb img{
    width: 100%;
    height:100%;
 }

.side_box .user_profile{
    display: flex;
    align-items: center;
    font-size: 16px;
    color:#262626;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    
    
}


.follower{
margin-top: 310px;
margin-left: 50px;
width: 100px;
text-align: center;
font-size: 20px;
}

.following{
margin-left: 150px;
    width: 100px;
       margin-top: -39px;
    text-align: center;
    font-size: 20px;
}

.single-widget-area {
  position: relative;
 /*  z-index: 1; */
  margin-bottom: 50px;
  margin-left: 40px;
  width: 210px;
 
    }
  
   .single-widget-area .widget-title {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 30px; 
    font-size: 20px;
    }
    
   
      
 
  .single-widget-area .popular-tags li a {
    display: inline-block;
    margin: -5;
    padding: 14px 15px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 18px;
    color: #707070;
    background-color: #f9f9f91f; 
    
    }
    
 
     
  
   .single-widget-area .widget-title {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 30px; 
    font-size: 20px;
    }
    
   
      
 
  .single-widget-area .popular-tags li a {
    display: inline-block;
    margin: -5;
    padding: 14px 15px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 18px;
    color: #707070;
    background-color: #f9f9f91f; 
    
    }
    

     .single-widget-area .popular-tags li a:hover, .single-widget-area .popular-tags li a:focus {
      color: #ffffff;
      background-color: #9FCF62; }

@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);

.shadow-1 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.blue-hover {
	transition: all 0.25s ease-in;
	border-bottom: 5px solid transparent;
}

.blue-hover:hover {
	transform: translateY(-5px);
	border: none;
	border-bottom: 5px solid #9FCF62;
}

#cateList{
	margin-left: 90px;
	width: 210px;
	
}

#cate{
	margin-left: -48px;
	text-align: center;
}

#cateItems{
	margin-left:-75px;  margin-top: -14px;
}

.follower{
	text-decoration: none;
	color: black
}
.following{
	text-decoration: none;
	color: black
}

.followerAtag{
	text-decoration: none;
	color: black;
	
}

#searchNull{
	font-size: 20px;
    margin-left: 210px;
    margin-top: 220px;
    display: block;
}

#guestAcc{
text-align: center;
margin-top: 252px;
}
 
/* index.html END */




/* followList start   */

.followContents{
    max-width: 580px;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    margin-bottom: 60px;
    background: white;
}

 
 
.followContents .imgList_section img{
     width: 200px;
     height: 180px;
     padding: 2.3px;
     
}

/*-------------  */
.followContents .follower_section{
    
    text-align: center;
     
    height: 550px;
}
 
 

.followContents .followList{
    overflow:hidden;
    text-align: center;
	margin: 20px -30px -30px;
	width: 550px;
}

.followContents #follow_section{
	 overflow:hidden;
    overflow:scroll;
    -ms-overflow-style: none;
    text-align: center;
    height: 550px;
}


.followContents .following_section{
    
    text-align: center;
    height: 550px;
}

.followContents #follow_section::-webkit-scrollbar { 
    display: none;
    width: 0 !important;
}
 

.followContents .followList{
    overflow:hidden;
    text-align: center;
	margin: 20px -30px -30px;
	width: 550px;
}

.followButtonA{
	width: 0px;
}

 
.followButton{
	width: 70px; 
	height: 35px; 
	background-color:background; 
	border-color: #9FCF62;
	margin: 40px 300px;
	 
	 
	 
}

.followUserName{
	font-size: 16px;
	height: 50px;
	/* line-height: 60px; */
	margin-left: 30px;
	text-align: left;
	font-weight: bold;
}

.followDis{
	margin: -10px 20px;
    height: 40px;
    width: 250px;
    text-align: left;
    font-size: 14px;
} 

.followIMGA{
	width: 180px;
	float: left;
}

img.followIMG{
	width: 90px; 
	height: 90px; 
    border-radius: 70%;
    display:block;
    margin: 15px 100px;
}

.followLIstInfo{
	width: 250px;
	float: right;
	margin-top: 30px;
	margin-right: 110px;
}

/* followList END */


/* profile_edit START  */

.followerPro{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 24px;  
	margin-left: 195px;
}

#profileIMG{
	margin-left: 220px;
	display: block;
}

#InfoDes{
	resize: none;
	margin-top: 30px;
	height: 16px;
	margin-left: 119px;
}

.img_sectionA{
	margin-top: 35px;
}
 
.contents .img_sectionA .dataDeleteIMG {
	width: 18px;
	height: 18px;
	position: absolute;
	margin-top: 35px;
}

.contents .img_sectionA .dataDeleteINFO {
	width: 18px;
	height: 18px;
}

#proFileUpdate{
    background-color: #9FCF62;
    border: none;
    color: white;
    width: 80px;
    height: 28px;
    margin-left: 264px;
}

