<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	
style="overflow-y: visible;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width">
<meta name="title" content="플립 fuleaf">
<meta name="description" content="누구나 식물을 쉽게, 플립">
<meta property="og:title" content="fuleaf">
<meta property="og:type" content="website">
<meta property="og:image"
	content="https://huga.s3.ap-northeast-2.amazonaws.com/v3.1/images/public/og_image.png">
<meta property="og:description" content="누구나 식물을 쉽게, 플립">
<meta name="facebook-domain-verification"
	content="z306y4gfbexatpne5yiz2jhoqz9ap6">
<meta name="naver-site-verification"
	content="5d4b56a3a62e1b5ec68c80c2bd729e7b799caf17">
	
	
<script type="text/javascript" async=""
	src="../assets/detail/analytics.js"></script>
<script src="../assets/detail/js"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());
	gtag('config', 'UA-148463141-1');
</script>
<link rel="stylesheet" href="../assets/detail/jquery-ui.css">
<link rel="shortcut icon" href="https://fuleaf.com/images/favicon.ico">
<link rel="icon" href="https://fuleaf.com/images/favicon.ico">
<link rel="stylesheet" href="../assets/detail/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
<link rel="stylesheet" href="../assets/detail/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="../assets/detail/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="../assets/detail/jquery.min.js"></script>
<script src="../assets/detail/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="../assets/detail/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link href="../assets/detail/css" rel="stylesheet">
<link rel="stylesheet" href="../assets/detail/swiper-bundle.min.css">
<script src="../assets/detail/jquery-1.12.4.js"></script>
<script src="../assets/detail/jquery-ui.js"></script>
<title>PLANiT</title>
<link rel="stylesheet" href="../assets/detail/styles.css">
</head>


<body style="overflow-y: visible;">
	<div id="curation__alarm-popup">
		<div class="popup__dimed-flex">
			
		</div>
	</div>
	
	
	<header class="header" id="header">	
	</header>
	
	
	<div id="layout_body">
		<div class="plantDetail__page" id="plantDetail__page">
			<section class="plantDetail__search-section" style="height: 0px;">
				<div class="search__section-flex">
					<form class="search-form" action="https://fuleaf.com/search"
						method="get" style="opacity: 0; transform: translateY(-50px);">
						<div class="search-form-flex">
							<input class="search-form-input" type="text"
								placeholder="식물 이름을 검색해 주세요." name="term" required="">
							<button class="search-form-submit" type="submit">
								<img class="submit-img"
									src="../assets/detail/imgs/search-white-ico@3x.png">
							</button>
						</div>
					</form>
				</div>
				<div class="mobile-slide-btn rsp-mobile">
					<div class="slide-btn"></div>
				</div>
			</section>
			<div class="plantDetail__page-flex">
				<section class="plantDetail-slide-section">
					<div
						class="swiper-container s1 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
						<div class="slide_nav_section">
							<div class="main_slide_nav">
								<div
									class="slide_nav_bar swiper-pagination-progressbar swiper-pagination-horizontal">
									<span class="swiper-pagination-progressbar-fill"
										style="transform: translate3d(0px, 0px, 0px) scaleX(0.333333) scaleY(1); transition-duration: 300ms;"></span>
								</div>
							</div>
							<div class="slide_number_section">
								<span class="current_number">01</span><img
									src="../assets/detail/ico-step@3x.png" width="14px"><span
									class="total_number">03</span>
							</div>
						</div>
						<div class="swiper-wrapper" id="swiper-wrapper-5ec6dfc4f4c55de3"
							aria-live="off"
							style="transform: translate3d(-3801.56px, 0px, 0px); transition-duration: 0ms;">
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate"
								data-swiper-slide-index="0" role="group" aria-label="1 / 3">
								<input class="image_current_number" type="hidden" value="1"><img
									src="../assets/detail/imgs/1590393690857coosigner_92567911_146187826906443_248297367443387629_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B-xzqFMhJVB/?utm_source=ig_web_copy_link"
									target="_blank">@coosigner</a>
							</div>
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate"
								data-swiper-slide-index="1" role="group" aria-label="2 / 3">
								<input class="image_current_number" type="hidden" value="2"><img
									src="../assets/detail/imgs/1590393690904choco_cosmos_83353568_1618466708307139_5495328157475250113_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B8VOmcMpa8V/?utm_source=ig_web_copy_link"
									target="_blank">@choco_cosmos</a>
							</div>
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate swiper-slide-duplicate-prev"
								data-swiper-slide-index="2" role="group" aria-label="3 / 3">
								<input class="image_current_number" type="hidden" value="3"><img
									src="../assets/detail/imgs/1590397688231kimjekim_90091245_2349676658665464_1917888528749720273_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B99HKLRg4vX/?utm_source=ig_web_copy_link"
									target="_blank">@kimjekim</a>
							</div>
							<input class="image_total_number" type="hidden" value="3">
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate-active"
								data-swiper-slide-index="0" role="group" aria-label="1 / 3">
								<input class="image_current_number" type="hidden" value="1"><img
									src="../assets/detail/imgs/1590393690857coosigner_92567911_146187826906443_248297367443387629_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B-xzqFMhJVB/?utm_source=ig_web_copy_link"
									target="_blank">@coosigner</a>
							</div>
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate-next"
								data-swiper-slide-index="1" role="group" aria-label="2 / 3">
								<input class="image_current_number" type="hidden" value="2"><img
									src="../assets/detail/imgs/1590393690904choco_cosmos_83353568_1618466708307139_5495328157475250113_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B8VOmcMpa8V/?utm_source=ig_web_copy_link"
									target="_blank">@choco_cosmos</a>
							</div>
							<div class="swiper-slide plant__image-item swiper-slide-prev"
								data-swiper-slide-index="2" role="group" aria-label="3 / 3">
								<input class="image_current_number" type="hidden" value="3"><img
									src="../assets/detail/imgs/1590397688231kimjekim_90091245_2349676658665464_1917888528749720273_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B99HKLRg4vX/?utm_source=ig_web_copy_link"
									target="_blank">@kimjekim</a>
							</div>
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate swiper-slide-active"
								data-swiper-slide-index="0" role="group" aria-label="1 / 3">
								<input class="image_current_number" type="hidden" value="1"><img
									src="../assets/detail/imgs/1590393690857coosigner_92567911_146187826906443_248297367443387629_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B-xzqFMhJVB/?utm_source=ig_web_copy_link"
									target="_blank">@coosigner</a>
							</div>
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate swiper-slide-next"
								data-swiper-slide-index="1" role="group" aria-label="2 / 3">
								<input class="image_current_number" type="hidden" value="2"><img
									src="../assets/detail/imgs/1590393690904choco_cosmos_83353568_1618466708307139_5495328157475250113_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B8VOmcMpa8V/?utm_source=ig_web_copy_link"
									target="_blank">@choco_cosmos</a>
							</div>
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate swiper-slide-duplicate-prev"
								data-swiper-slide-index="2" role="group" aria-label="3 / 3">
								<input class="image_current_number" type="hidden" value="3"><img
									src="../assets/detail/imgs/1590397688231kimjekim_90091245_2349676658665464_1917888528749720273_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B99HKLRg4vX/?utm_source=ig_web_copy_link"
									target="_blank">@kimjekim</a>
							</div>
						</div>
						<div class="main-swiper-btn-prev" tabindex="0" role="button"
							aria-label="Previous slide"
							aria-controls="swiper-wrapper-5ec6dfc4f4c55de3">
							<img src="../assets/detail/main-slider-left@3x.png" width="30px"
								height="30px">
						</div>
						<div class="main-swiper-btn-next" tabindex="0" role="button"
							aria-label="Next slide"
							aria-controls="swiper-wrapper-5ec6dfc4f4c55de3">
							<img src="../assets/detail/main-slider-right@3x.png" width="30px"
								height="30px">
						</div>
						<span class="swiper-notification" aria-live="assertive"
							aria-atomic="true"></span>
					</div>
				</section>
				<section class="plants-simpleinfo-section">
					<div class="simpleinfo-title">
						<h1 class="simpleinfo-plantname_english mainColorTitle">Philodendron
							Birkin</h1>
						<h2 class="simpleinfo-plantname_korean mainTitle">필로덴드론 버킨
							(무늬콩고)</h2>
						<h3 class="simpleinfo-plantname_intro">하얀 무늬가 매력적인 이 식물은
							필로덴드론 로조 콩고 재배 과정에서 자연적 돌연변이로 나오게 되었어요. 변이가 불안정한 식물이라 시간이 흐르면 로조
							콩고를 닮은 잎이 날 수도 있답니다. 초반에는 공급이 적어서 고가였지만 조직 배양 덕분에 대량 생산으로 널리 보급되고
							있어요. 가격도 저렴하고 키우기 어렵지 않아서 인기 식물이에요. 다만, 독성이 있어서 어린아이와 반려동물의 손이 닿지
							않는 곳에 두는 것이 좋습니다.</h3>
					</div>
					<div class="simpleinfo-table">
						<ul class="table-items">
							<div class="table-items-flex">
								<li class="table-item"><img class="table-item-img"
									src="../assets/detail/imgs/ico-water-sprinkler@3x.png">
								<h1 class="table-item-title">주 1~2회</h1>
									<h2 class="table-item-desc">흙 표면부터 3cm까지 마르면, 듬뿍 주세요.</h2></li>
								<li class="table-item"><img class="table-item-img"
									src="../assets/detail/imgs/ico-sun@3x.png">
								<h1 class="table-item-title">반양지 ~ 반음지</h1>
									<h2 class="table-item-desc">햇빛을 좋아하지만, 그늘에서도 잘자라요</h2></li>
							</div>
							<div class="table-items-flex">
								<li class="table-item"><img class="table-item-img"
									src="../assets/detail/imgs/icon-water-drop@3x.png">
								<h1 class="table-item-title">70% 이상</h1>
									<h2 class="table-item-desc">습한 환경에 적합해요.</h2></li>
								<li class="table-item"><img class="table-item-img"
									src="../assets/detail/imgs/icon-pen@3x.png">
								<h1 class="table-item-title">학명</h1>
									<h2 class="table-item-desc" style="font-style: italic;">Philodendron
										Birkin</h2></li>
							</div>
						</ul>
					</div>
				</section>
			</div>
			<section class="plants-raise-section">
				<div class="raise-title">
					<h1 class="mainColorTitle">how to raise</h1>
					<h2 class="mainTitle">어떻게 키우나요?</h2>
				</div>
				<ul class="raise-items">
					<li class="raise-item"><img class="raise-item-img"
						src="../assets/detail/imgs/16063006614391.빛_부드러운(반양지_반음지).png">
					<h1 class="raise-item-title">빛 : 부드러운 햇빛</h1>
						<h2 class="raise-item-desc">
							필로덴드론 버킨은 밝은 간접광에서 제일 잘 자라요. 너무 어두운 곳에서는 무늬가 흐려질 수 있어요.<br>
							<br> <b>[빛 관리 Tip]</b><br> - 밝은 빛이 드는 창문 근처에서 키워주세요.<br>
							- 잎을 태울 수 있으니 직사광선은 피해 주세요.<br>
							<br> <b>[관리 제품]</b><br> 빛이 잘 들지 않아 걱정이라면, 식물 생장용 LED의
							도움을 받아보세요.

						</h2></li>
					<li class="raise-item"><img class="raise-item-img"
						src="../assets/detail/imgs/16063006653812.온도_따뜻한.png">
					<h1 class="raise-item-title">온도 : 따뜻한 온도</h1>
						<h2 class="raise-item-desc">
							필로덴드론 버킨은 열대 식물이기 때문에 추위에 약해요. <br>
							<br> <b>[온도 관리 Tip]</b><br> - 온도 변화가 잦은 에어컨이나 난방 기구 밑은
							피해 주세요.<br> - 겨울철 찬바람은 피해 주세요.<br>
							<br> <b>[적정 온도]</b><br> 잘 자라는 온도 : 18~30℃<br> 겨울철
							관리 온도 : 16℃ 이상
						</h2></li>
					<li class="raise-item"><img class="raise-item-img"
						src="../assets/detail/imgs/16063006698733.습도_높은(70% 이상).png">
					<h1 class="raise-item-title">습도 : 높은 습도</h1>
						<h2 class="raise-item-desc">
							필로덴드론 버킨은 잎이 두꺼워서 습도에 덜 까다로운 편이에요. 하지만 열대 식물이기 때문에 습도가 높을수록 건강하게
							자랄 거예요.<br>
							<br> <b>[습도 관리 Tip]</b><br> - 식물 주변에 분무를 자주 해주면 습도를 높이는
							데 도움이 될 거예요.<br> - 식물은 호흡할 때 수분을 방출하기 때문에 식물들을 한데 모아서 키우면 공기
							중 습도를 올리는 데 도움이 된답니다.<br> - 잎에 먼지가 많으면 호흡을 방해할 수 있어요. 잎을 씻어
							주거나 젖은 수건으로 자주 닦아주는 것이 좋습니다.<br>
							<br> <b>[관리 제품]</b><br> 건조한 환경이라면 스프레이와 가습기의 도움을 받는 것을
							추천해 드립니다.
						</h2></li>
					<li class="raise-item"><img class="raise-item-img"
						src="../assets/detail/imgs/16063006758754.물.png">
					<h1 class="raise-item-title">물 : 흙이 바싹 마르지 않게</h1>
						<h2 class="raise-item-desc">
							흙을 항상 촉촉하게 유지해주는 것이 좋아요. 겨울에는 흙이 모두 바싹 마르면 물을 주세요. 나머지 성장기 계절에는
							주기적으로 물을 주는 것이 좋습니다. <br>
							<br> <b>[물 주기 Tip]</b><br> - 같은 식물이더라도 키우는 공간의 환경에 따라 물
							마름 정도가 달라져요. 물을 줄 때는 흙의 마름 정도를 파악하고 주는 것이 가장 좋답니다.<br> - 손으로
							만졌을 때 겉흙이 말랐으면 물을 주세요. 흙이 오랜 시간 흥건하면 뿌리가 숨을 못 쉬어서 썩는 원인이 된답니다.<br>
							- 뿌리 전체가 물을 골고루 먹을 수 있도록 화분 배수 구멍으로 물이 충분히 흘러나올 때까지 물을 흠뻑 주세요.<br>
							- 물을 준 후엔 충분한 환기를 해주세요. 뿌리에 산소를 공급하고, 과습을 방지하여 뿌리 성장을 돕는답니다.<br>
							<br> <b>[관리 제품]</b><br> 더 편리하게 물을 주고 싶다면 물조리개를 추천해
							드립니다.
						</h2></li>
					<li class="raise-item"><div class="raise-item-flex">
							<img class="raise-item-img"
								src="../assets/detail/imgs/16063006799625.흙.png">
						</div>
						<h1 class="raise-item-title">흙 : 배수가 잘되는 흙</h1>
						<h2 class="raise-item-desc">
							뿌리 주변 흙에 습기가 많으면 뿌리가 호흡을 하지 못해서 썩을 수 있어요. 뿌리 과습이 오지 않도록 배수가 잘되는
							흙에 심어 주세요.<br>
							<br> <b>[비료는 언제 주나요]</b><br> 시중에서 판매되는 분갈이용 흙에는 식물에 필요한
							영양분이 포함되어 있어요. 분갈이 기준 중/소형 화분은 1년, 대형 화분은 2년 동안 별도의 비료는 필요하지
							않답니다. 과한 비료, 영양제는 오히려 식물의 건강을 해칠 수 있으니 주의해 주세요. <br>
							<br> <b>[관리 제품]</b><br> 뿌리 과습을 방지해주는 배수가 잘되는 흙 보러 가기
						</h2></li>
					<li class="raise-item"><img class="raise-item-img"
						src="../assets/detail/imgs/16063006849896.분갈이 시기.png">
					<h1 class="raise-item-title">분갈이 시기 알아보기</h1>
						<h2 class="raise-item-desc">
							⦁ 화분에 비해 식물이 지나치게 클 경우<br> ⦁ 뿌리가 화분 밑으로 뚫고 나온 경우<br> ⦁
							흙 표면이 오래되어 딱딱하게 굳은 경우<br> ⦁ 평소보다 흙이 빠르게 마르는 경우<br> ⦁
							평소보다 흙의 잘 마르지 않는 경우<br> ⦁ 소형 화분 기준 : 분갈이를 한 지 1년이 지난 경우<br>
							⦁ 대형 화분 기준 : 분갈이를 한 지 2년이 지난 경우
						</h2></li>
				</ul>
			</section>
			<section class="plants-sos-section">
				<div class="sos-title">
					<h1 class="mainColorTitle">sos solution</h1>
					<h2 class="mainTitle">혹시 식물이 아파요?</h2>
				</div>
				<div class="sos-desc">
					<ul class="sos-items">
						<li class="sos-item"><div class="sos-item-title">
								<div class="question-mark">Q.</div>
								<h3>잎이 노랗게 변해요.</h3>
								<button class="sos-item-button" type="button">
									<img
										src="../assets/detail/imgs/search_detail_sos_dropdown_arrow_down@2x.png">
								</button>
							</div>
							<div class="sos-item-desc">
								<h3 class="height-fake">① 식물이 계속 새잎을 낸다면, 잎이 노랗게 변하는 것은 잎의
									노화로 자연스러운 현상이랍니다. 완전히 죽은 잎은 해충이 생길 수 있음으로 제거하는 것이 좋아요. 잎이 노랗게
									물들 때, 완전히 노랗게 되고 나서 잎을 떼는 게 좋아요. 죽어가는 잎에서 식물이 남은 영양소를 흡수하기
									때문이에요. 잎이 갈색으로 바싹바싹 마르면 식물에 해를 끼치지 않고 줄기나 가지에서 떼어낼 수 있어요. ② 물을
									너무 과하게 줬어요. 뿌리 주변에 물이 흥건하면 뿌리가 호흡을 할 수 없어서 결국 죽게 됩니다. 바람이 잘 통하는
									곳에 옮겨서 흙을 잘 말려주세요. 선풍기나 서큘레이터의 도움을 받아도 좋아요. 물은 환경에 따라 마르는 정도가
									달라집니다. 식물의 상태와 흙이 수분을 얼마나 머금고 있는지를 관찰하며 물을 주세요. 물을 준 후에는 물이 완전히
									빠져나가도록 두고 흙이 흡수하지 못한 물은 과습의 위험이 있으니 버려주는 것이 좋습니다. 물이 잘 빠져나가서
									뿌리가 호흡을 할 수 있도록 배수가 잘되는 흙으로 바꿔주는 것을 권장합니다. 물을 주고 다음 물 주기까지 흙을
									적절히 말린 후 물을 주는 것이 중요해요. ③ 양분이 부족해요. 뿌리가 화분 안에 가득 차서 밖으로 빠져나오지
									않았나요? 분갈이해 줄 시기가 왔습니다. 기존 화분보다 4cm 정도 더 큰 화분에 식물을 옮겨주세요. 죽은 뿌리를
									정리한 후 분갈이해 주세요. 분갈이 후에는 물을 흠뻑 준 뒤 그늘에 두고 쉬게 해주세요.</h3>
								<h3 class="height-real">① 식물이 계속 새잎을 낸다면, 잎이 노랗게 변하는 것은 잎의
									노화로 자연스러운 현상이랍니다. 완전히 죽은 잎은 해충이 생길 수 있음으로 제거하는 것이 좋아요. 잎이 노랗게
									물들 때, 완전히 노랗게 되고 나서 잎을 떼는 게 좋아요. 죽어가는 잎에서 식물이 남은 영양소를 흡수하기
									때문이에요. 잎이 갈색으로 바싹바싹 마르면 식물에 해를 끼치지 않고 줄기나 가지에서 떼어낼 수 있어요. ② 물을
									너무 과하게 줬어요. 뿌리 주변에 물이 흥건하면 뿌리가 호흡을 할 수 없어서 결국 죽게 됩니다. 바람이 잘 통하는
									곳에 옮겨서 흙을 잘 말려주세요. 선풍기나 서큘레이터의 도움을 받아도 좋아요. 물은 환경에 따라 마르는 정도가
									달라집니다. 식물의 상태와 흙이 수분을 얼마나 머금고 있는지를 관찰하며 물을 주세요. 물을 준 후에는 물이 완전히
									빠져나가도록 두고 흙이 흡수하지 못한 물은 과습의 위험이 있으니 버려주는 것이 좋습니다. 물이 잘 빠져나가서
									뿌리가 호흡을 할 수 있도록 배수가 잘되는 흙으로 바꿔주는 것을 권장합니다. 물을 주고 다음 물 주기까지 흙을
									적절히 말린 후 물을 주는 것이 중요해요. ③ 양분이 부족해요. 뿌리가 화분 안에 가득 차서 밖으로 빠져나오지
									않았나요? 분갈이해 줄 시기가 왔습니다. 기존 화분보다 4cm 정도 더 큰 화분에 식물을 옮겨주세요. 죽은 뿌리를
									정리한 후 분갈이해 주세요. 분갈이 후에는 물을 흠뻑 준 뒤 그늘에 두고 쉬게 해주세요.</h3>
							</div></li>
						<li class="sos-item"><div class="sos-item-title">
								<div class="question-mark">Q.</div>
								<h3>잎이 까맣게 탔어요.</h3>
								<button class="sos-item-button" type="button">
									<img
										src="../assets/detail/imgs/search_detail_sos_dropdown_arrow_down@2x.png">
								</button>
							</div>
							<div class="sos-item-desc">
								<h3 class="height-fake">식물이 너무 밝은 곳에 있지 않나요? 강한 빛은 잎을 태울 수
									있어요. 이미 탄 잎은 회복되지 않으니 소독된 가위로 잘라주는 것이 좋습니다. 커튼이나 창문으로 걸러진 빛이 있는
									곳으로 이동해주세요.</h3>
								<h3 class="height-real">식물이 너무 밝은 곳에 있지 않나요? 강한 빛은 잎을 태울 수
									있어요. 이미 탄 잎은 회복되지 않으니 소독된 가위로 잘라주는 것이 좋습니다. 커튼이나 창문으로 걸러진 빛이 있는
									곳으로 이동해주세요.</h3>
							</div></li>
						<li class="sos-item"><div class="sos-item-title">
								<div class="question-mark">Q.</div>
								<h3>하얀 거미줄 같은 게 생겼어요.</h3>
								<button class="sos-item-button" type="button">
									<img
										src="../assets/detail/imgs/search_detail_sos_dropdown_arrow_down@2x.png">
								</button>
							</div>
							<div class="sos-item-desc">
								<h3 class="height-fake">응애가 생겼어요. 응애는 주로 잎의 아랫면과 줄기와 잎이 연결된
									부분에서 살고 있어요. 고온 건조할 때 많이 생긴답니다. 평상시 예방 차원으로 잎에 분무를 자주 해주거나 샤워를
									시켜줍니다. 응애가 생겼을 때는 주방 세제 한 큰술을 물 2L와 섞어서 분무해 주세요. 또는, 소독용 알코올을
									솜이나 면봉에 적셔서 잎사귀를 닦아주세요. 몇 시간 뒤 잎을 물로 헹궈주는 것 잊지 마세요. ※피레스로이드를
									포함하는 친환경 살충제(제충국)는 응애에게 효과가 없어요. 대신 응애의 천적에게 해를 끼쳐 응애가 계속 번식할 수
									있으니 사용에 유의해 주세요.</h3>
								<h3 class="height-real">응애가 생겼어요. 응애는 주로 잎의 아랫면과 줄기와 잎이 연결된
									부분에서 살고 있어요. 고온 건조할 때 많이 생긴답니다. 평상시 예방 차원으로 잎에 분무를 자주 해주거나 샤워를
									시켜줍니다. 응애가 생겼을 때는 주방 세제 한 큰술을 물 2L와 섞어서 분무해 주세요. 또는, 소독용 알코올을
									솜이나 면봉에 적셔서 잎사귀를 닦아주세요. 몇 시간 뒤 잎을 물로 헹궈주는 것 잊지 마세요. ※피레스로이드를
									포함하는 친환경 살충제(제충국)는 응애에게 효과가 없어요. 대신 응애의 천적에게 해를 끼쳐 응애가 계속 번식할 수
									있으니 사용에 유의해 주세요.</h3>
							</div></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	
	
	
	
	<script src="../assets/detail/swiper-bundle.min.js"></script>
	<script src="../assets/detail/main.js"></script>
</body>


</html>