<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
 lang="en">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Congrats for signing in successfully!!</h1>

<h1>!!!환영합니다!!!</h1>
<div th:text="${info}"></div>
<a href=/planit/userInfo> 회원정보 보기</a>
<!-- 로그인 전 출력 -->
<!-- <ul th:text="${info}">
<li><a th:href="@{/login}">로그인 </a></li>
<li><a th:href="@{/join}">회원가입</a></li>
</ul> -->

<!-- <p>회원정보 수정 로그아웃이 뜨면 정상적으로 세션 처리됨을 알림!</p>
<th:block th:if="${info != null}">
<h2 th:text="|${info.userId} 님 안녕?|"></h2>
</th:block>
<ul th:if="${info.userId != null}">
<li><a href="">회원정보 수정</a><li>
<li><a href="logout">로그아웃</a></li>
</ul>  -->

 

</body>
</html>