<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.planit.mapper.sns.SnsMapper">

<select id="selectImgPost" resultType="com.planit.domain.sns.PostDTO">
	<![CDATA[
	select pf.filename
	from post p Join postfiles pf
	on pf.postno=p.postno
	order by likescount desc
	]]>
</select>
	 
	 
</mapper>