<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="sns/layout/basic">
<th:block layout:fragment="title">
	<title>list page</title>
</th:block>
  
<th:block layout:fragment="content">
 
        <div class="inner">

	<div class="contents_box">
		<article class="followContents">
   			<div class="trans_inner"> 
				<!--팔로워 리스트 -->
			<div id="follow_section">
				<div class="follower_section" id="follower_section"></div>

				<!-- 팔로잉 리스트  -->
				<div class="following_section" id="following_section"></div>
			</div>
		</div>

		</article>

		</div>

		<input type="hidden" id="page" value="1">
             
			<!-- 로그인 계정 정보 -->
            <div class="side_box" th:each="info:${AccInfo}">
          
                <div class="user_profile">
                    <div class="profile_thumb">
                        <img th:src="@{${'/imgs/img_section/'+info.profileImg}}" alt="프로필사진"> 
                    </div>
                 </div>
               
                 
                 <div style="margin-top: -22px;">  
                  <div class="follower" id="follower"><a th:href="@{/planiter/follower.do(fol=1)}" class="followerAtag">팔로워<br>
                  <p class="followerCount" th:text="${info.followerCount}"/></a></div>
                 <div class="following"><a th:href="@{/planiter/follower.do(fol=2)}" class="followerAtag">팔로잉<br>
                <p class="followingCount" th:text="${info.followingCount}"/></a></div>
                </div>
<br><br>
					<!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Title -->
                            <div class="widget-title">  
                                <h1 class="MyPlants" style="text-align: center; width: 97%; font-family: 'Exo 2', sans-serif; font-size: 23px;">My Plants</h1>
                            </div>
                            <!-- Tags -->
                          
                            <ol  th:each="cate:${CateList}" class="popular-tags d-flex flex-wrap" id="cateList"   >
                               <ol style="margin-left: -40px;  margin-top: -14px;" >
                               		 <li>#<a th:text="${cate.plantsName}" class="testt" style="font-family: 'Jua', sans-serif;  text-decoration: none; " href="/planiter/profile.do"></a> </li>
                              
                               </ol>
                            </ol>
                            
                            
                        	
                        </div>
                        </div>		 	 


        </div>
    
 </th:block>
 
  
 <th:block layout:fragment="script">  
 <script th:inline="javascript">
 
  
 /*<![CDATA[*/
 var fol = /*[[ ${fol} ]]*/ 
 /*]]*/
	// 5.
 console.log('fol: '+fol);
 
 var page = 1;
	  


     $(function(){  
	    if(fol==1){
		     followerList(page);	
			}else if(fol==2){
		     followingList(page);
			}
	    page++;
	  });   
	    
	   
	    
 $("#follow_section").scroll(function() { 
 
		var innerHeight = $(this).innerHeight(); 
		var scroll=$(this).scrollTop() + $(this).innerHeight(); 
		var height=$(this)[0].scrollHeight; 

		
		if(scroll == height){ 
			if(fol==1){
				 console.log(page+'페이지 시작');
				 followerList(page); 
				}else if(fol==2){
				console.log(page+'페이지 시작');
				 followingList(page); 
				}
			 page++;
			
		} 
		 console.log('innerHeigh!!!t: '+ innerHeight +' scroll: '+scroll+' height: '+height);
		
	});
 
		  
		 
		  /* 팔로워 리스트 */	
		  function followerList(){
		  	$(".follower_section").show();
		  	$(".following_section").hide();
		  	 
		  	  
		  		$.ajax({
		  			type : 'get',
		  			url : "/planiter/followerList.do?page="+page,
		  			contentType : "application/json; charset=UTF-8",
		  			dataType : "json",
		  			success : function(data) {
		  				 console.log('following List: '+data);
		  				 var followerList = "";
		  				  $.each(data, function(index, item) { // 데이터 =item
		  					 
		  					  followerList = '<div class="followList" id="followList">'
		  						     +   '<div class="followIMGA">'
		  						     +   '<img class="followIMG" src="/imgs/img_section/'+item.profileImg+'"alt="프로필사진">'
		  			              	 +   '</div>'
		  			              	 +   '<div class="followLIstInfo">'
		  			            	 +   '<P   class="followUserName" >'+item.followingId+'</P>'
		  			            	 +   '<P   class="followDis">'+item.accDescription+'</P>'
		  			            	 +   '</div>'
		  			            	 +	 '<div class="followButtonA">'
		  			            	 +	 '<input onclick="followBTN( \''+item.followerId+'\',\''+item.followingId+'\',\''+item.ftype+'\',1)" id="followButton_'+item.followerId+item.followingId+'" class="followButton" type="button" value="'+ GetType(item.followerId,item.userId,item.followingId,item.ftype)+'"  />'
		  			            	 +   '<input id="ftype_'+item.followerId+item.followingId+'"+ type="hidden" value="'+item.ftype+'"/>'
		  			            	 +   '</div>'
		  			            	 +   '</div>';
		  	
		  			             $(".follower_section").append(followerList);
		  			             
		  			             var btnID = "#followButton_" +item.followerId+item.followingId ;
		  			            
		  			 			  if (item.ftype == 1) { 
						 				$(btnID).css("backgroundColor", "white");
						 			} else {
						 				 $(btnID).css("backgroundColor", "#9FCF62");
						 				 $(btnID).css("color", "white");
						 			}  
		  				});  
		  				 
		  			},
		  			error : function(jqXHR, textStatus, errorThrown) {
		  				console.log(jqXHR.responseText);
		  			}
		  		});
		  	 
		  }		
	 
 function followingList(page){ //팔로잉 리스트
	 
	 $(".following_section").show();
	 $(".follower_section").hide();
	 
	 console.log('followingList page: '+page);
	 $.ajax({
			type : 'get',
			url : "/planiter/followingList.do?page="+page,
			contentType : "application/json; charset=UTF-8",
			dataType : "json",
			success : function(data) {
				 
				 var followingList = "";
				 if (page==1){   
					    $("#following_section").html(""); 
				  }  
					 
				  $.each(data, function(index, item) { // 데이터 =item
					  followingList = '<div class="followList" id="followList">'
						     +   '<div class="followIMGA">'
						     +   '<img class="followIMG" src="/imgs/img_section/'+item.profileImg+'"alt="프로필사진">'
			              	 +   '</div>'
			              	 +   '<div class="followLIstInfo">'
			            	 +   '<P   class="followUserName" >'+item.followingId+'</P>'
			            	 +   '<P   class="followDis">'+item.accDescription+'</P>'
			            	 +   '</div>'
			            	 +	 '<div class="followButtonA">'
			            	 +	 '<input onclick="followBTN(\''+item.followerId+'\',\''+item.followingId+'\',\''+item.ftype+'\',2)" id="followButton2_'+item.followerId+item.followingId+'" class="followButton" type="button" value="'+ GetType(item.followerId,item.userId,item.followingId,item.ftype)+'"  />'
			            	 +    '<input id="ftype2_'+item.followerId+item.followingId+'"+ type="hidden" value="'+item.ftype+'"/>'
			            	 +   '</div>'
			            	 +   '</div>';
			             $("#following_section").append(followingList);
			              
			             var btnID = "#followButton_" +item.followerId+item.followingId;
			            
 			 			  if (item.ftype == 1) { 
				 				$(btnID).css("backgroundColor", "white");
				 			} else {
				 				 $(btnID).css("backgroundColor", "#9FCF62");
				 				 $(btnID).css("color", "white");
				 			}  
				});   
				 
			},
			error : function(jqXHR, textStatus, errorThrown) {
				console.log(jqXHR.responseText);
			}
		});
	 

 }
   
 function followBTN(followerID,followingID, ftype, fol) {//팔로우 언팔로우 처리
		 
 		if(fol==1){
 			var btnID = "#followButton_" + followerID + followingID;
 			var btnID2 = "#ftype_" + followerID + followingID;
 		}else if(fol==2){
 			var btnID2 = "#ftype2_" + followerID + followingID;
			var btnID = "#followButton2_" + followerID + followingID;
 		}
		 
		var input_ftype = $(btnID2).val();
		 
		
		if (input_ftype == 0) { 
		
			$.ajax({
				type : 'get',
				url : "/planiter/follow.do?followerId=" +followerID +"&followingId="+followingID,
				contentType : "application/json; charset=UTF-8",
				dataType : "json",
				success : function(data) {
					$(".followerCount").text(data.followerCount);
					$(".followingCount").text(data.followingCount);
			 		  
						console.log('followButton_ID 0->1');
						 $(btnID).val('팔로잉');
						 $(btnID).css("backgroundColor", "white");
						 $(btnID).css("color", "black");  
						  
						 if ($(btnID2).val() == 1) { 
				            	$(btnID2).attr('value', 0 ); 
				 			} else {
				 				$(btnID2).attr('value', 1 ); 
				 			}
						           
				},     
				error : function(jqXHR, textStatus, errorThrown) {
					console.log(jqXHR.responseText);
				}
			});
			 
			 
			 
		} else {//언팔로우
			
			$.ajax({
				type : 'get',
				url : "/planiter/unfollow.do?followerId=" +followerID +"&followingId="+followingID+"&page="+page,
				contentType : "application/json; charset=UTF-8",
				dataType : "json",
				success : function(data) {
					$(".followerCount").text(data.followerCount);
					$(".followingCount").text(data.followingCount);
					  
					 $(btnID).val('팔로우');
					 $(btnID).css("backgroundColor", "#9FCF62");
					 $(btnID).css("color", "white");  
					 
					 if ($(btnID2).val() == 1) { 
			            	$(btnID2).attr('value', 0 ); 
			 			} else {
			 				$(btnID2).attr('value', 1 ); 
			 			}
		           
				},
				error : function(jqXHR, textStatus, errorThrown) {
					console.log("followBTN error" );
					console.log(jqXHR.responseText);
				}
			}); 
		}  
		 
	} 
	 
		 
	   	function GetType(followID, userId, followingID, ftype) {//팔로잉인지 팔로워인지 확인
	  			var btnID = "#followButton_" + followID + followingID;
	  			
	  			if (ftype == 1) { 
	  				return "팔로잉";
	  			} else {
	  				 return "팔로우";
	  			}
	  		 
	  		}
	   
	</script>
 
 
 
</html>