<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="sns/layout/basic">
<th:block layout:fragment="title">
	<title>Planiter</title>
</th:block>

<span layout:fragment="write-post">
	<div class="post_inner" th:object="${post}">

		<div class="post_box_left"> 
		
			<div class="photo_box">
	            <div class="swiper-wrapper">	
	               <div class="swiper-slide" th:each="fileName, index : ${post.realFileNameArr}">
	                  <img class="photo swiper-lazy"  th:src="@{${'/planiter/post/image/'+fileName}}" />
	               </div>
	            </div>
	            <div class="swiper-button-next"></div>
	            <div class="swiper-button-prev"></div>
	            <div class="swiper-pagination"></div>
         	</div>
         
			<div class="hashtag_box">
				<span th:text="'#' + *{plantsName}"></span><br/>
				<span th:text="'#' + *{weather}"></span><br/>
				<span th:text="'#' + *{address}"></span><br/>
				<span th:text="'#' + *{createDt}"></span>
			</div>
		</div>

		<div class="post_box_right_read">
			<div id="post_box_right_read_main" class="post_box_right_read_main">
				<div class="profile_box">
					<span class="profile_box_img" style="display: inline-block;">
						<img th:src="@{${'/planiter/post/image/'+accountProfile.profileImg}}"/>
					</span>
					<span style="display: inline-block; width: 60%;" th:if="${session.userdto} != null AND ${session.userdto.userId} == ${post.userId}">
						<a th:href="@{/planiter/profile.do}" th:text="${post.userId}" style="display: block; padding-bottom: 5px;"></a>
						<a href="javascript:void(0);" th:text="${accountProfile.accDescription}" style="display: block;"></a>
					</span>
					<span style="display: inline-block; width: 60%;" th:if="${session.userdto} != null AND ${session.userdto.userId} != ${post.userId}">
						<a th:href="@{/planiter/{id}(id=${post.userId})}" th:text="${post.userId}" style="display: block; padding-bottom: 5px;"></a>
						<a href="javascript:void(0);" th:text="${accountProfile.accDescription}" style="display: block;"></a>
					</span>
					<span th:if="${session.userdto} != null AND ${session.userdto.userId} == ${post.userId}" style="display: inline-block; padding-left: 20px;">
						<a th:href="@{/planiter/post/modify(postno=${post.postNo})}" style="color: gray;">수정</a>
						<a th:href="@{/planiter/post/delete(postno=${post.postNo})}" style="color: gray;">삭제</a>
					</span>
				</div>
				<div class="read_box">
					<p th:text="*{postContent}">글읽기</p>
				</div>
				<div id="icon_box" class="icon_box" th:object="${isLike}">
					<span th:if="${isLike == 'unlike'}">
						<img src="/imgs/img_section/unlike.png" onclick= "return getLikeInfo('like')">
					</span>
					<span th:if="${isLike == 'like'}">
						<img src="/imgs/img_section/like.png" onclick= "return getLikeInfo('unlike')">
					</span>

					<img src="/imgs/img_section/comment.png" onclick="changePage('comment')">
				</div>

				<div class="comment_box">
					<div class="write_comment">
						<input id="user_id" type="hidden" th:object="${post}" th:field="${post.userId}">
						<input id="post_no" type="hidden" th:object="${post}" th:field="${post.postNo}">
						<textarea id="comment" placeholder="댓글 작성하기"></textarea>
					</div>
					<div class="commit_comment">
						<form>
							<button type="submit" class="getComment" onclick="return getComment('first')">등록</button>
						</form>
					</div>
				</div>
				<div class="comment">
					<table id="comment_table">
						<tr th:each="c,index : ${commentList}" th:if="${index.index} < 4">
							<th:block>
								<td th:text="${c.userId}"></td>
								<td th:text="${c.content}"></td>
								<td th:text="${c.regDate}"></td>
								<td><a th:if="${session.userdto} != null AND ${session.userdto.userId} == ${c.userId}" href="javascript:void(0);" th:onclick="'deleteComment('+${c.no}+')'" style="text-decoration: none; color: gray;" >삭제</a></td>
							</th:block>
						</tr>
					</table>
				</div>
			</div>

			<div id="post_box_right_read_comment" class="post_box_right_read_comment">
				<span class="post_box_right_read_comment_close">
					<img th:src="${'/imgs/img_section/close.png'}" onclick="changePage('main')" />
				</span>

				<div class="comment_box">
					<div class="write_comment">
						<textarea id="comment_second" placeholder="댓글 작성하기"></textarea>
					</div>
					<div class="commit_comment">
						<form>
							<button type="submit" class="getComment" onclick="return getComment('second')">등록</button>
						</form>
					</div>
				</div>
				<div class="comment_second">
					<table id="comment_table_second">
						<tr th:each="c : ${commentList}">
							<th:block>
								<td th:text="${c.userId}"></td>
								<td th:text="${c.content}"></td>
								<td th:text="${c.regDate}"></td>
								<td><a th:if="${session.userdto} != null AND ${session.userdto.userId} == ${c.userId}" href="javascript:void(0);" th:onclick="'deleteComment('+${c.no}+')'" style="text-decoration: none; color: gray;">삭제</a></td>
							</th:block>
						</tr>
					</table>
				</div>
			</div>

		</div>

	</div>
</th:block>

<th:block layout:fragment="script">
	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
	
	<script th:inline="javascript">
		function getComment(commentType){
			var postNo = document.getElementById('post_no');
			let userId = document.getElementById('user_id');
			let comment = '';

			if(commentType === 'first'){
				comment = document.getElementById('comment');
			}else{
				comment = document.getElementById('comment_second');
			}

			let sendData = {
				'userId': userId.value,
				'postNo': postNo.value,
				'content': comment.value
			};
			
			comment.value = '';
			
			$.ajax({
				url : "/planiter/post/insert/comment",
				type : "post",
				data: sendData,
				success : function(data) {			
					$("#comment_table").replaceWith(data);
				},
				error : function(XHR, status, errosr) {
					console.error(status + " : " + error);
				},
				complete: function(){
					$.ajax({
						url : "/planiter/post/refresh/comment",
						type : "get",
						data: {'postNo': postNo.value},
						success : function(data) {
							$("#comment_table_second").replaceWith(data);
						},
						error : function(XHR, status, errosr) {
							console.error(status + " : " + error);
						}
					});
				}
			});

		 	return false;
		}

		function deleteComment(no){
			var postNo = document.getElementById('post_no');
			//let userId = document.getElementById('user_id');

			let sendData = {
				'no': no,
				'postNo': postNo.value
			};

			$.ajax({
				url : "/planiter/post/delete/comment",
				type : "get",
				data: sendData,
				success : function(data) {
					$("#comment_table").replaceWith(data);
				},
				error : function(XHR, status, errosr) {
					console.error(status + " : " + error);
				},
				complete: function(){
					$.ajax({
						url : "/planiter/post/refresh/comment",
						type : "get",
						data: {'postNo': postNo.value},
						success : function(data) {
							$("#comment_table_second").replaceWith(data);
						},
						error : function(XHR, status, errosr) {
							console.error(status + " : " + error);
						}
					});
				}
			});

			return false;
		}

		function changePage(page){
			let main = document.getElementById('post_box_right_read_main');
			let comment = document.getElementById('post_box_right_read_comment');

			if(page === 'main'){
				main.style.zIndex = '10';
				comment.style.zIndex = '1';
			}else{
				comment.style.zIndex = '10';
				main.style.zIndex = '1';
			}
		}
		
		function getLikeInfo(isLike){
			let userId = document.getElementById('user_id');
			let postNo = document.getElementById('post_no');
			
			let data = {
				'targetId': userId.value,
				'postNo': postNo.value,
				'isLike': isLike
			};
			
			$.ajax({
				url : "/planiter/post/like",
				type : "post",
				data: data,
				success : function(data) {
					
					$("#icon_box").replaceWith(data);	
						
				},
				error : function(XHR, status, errosr) {
					console.error(status + " : " + error);
				}
			});
		 	
		 	return false;
		}
		
		let swiper = new Swiper(".photo_box", {
	         slidesPerView: '1',
	         pagination: {
			    el: '.swiper-pagination',
			    type: 'bullets',
			    clickable: true,
			  },
	
	         // 좌우 화살표 navigation element 지정
	         navigation: {
	            nextEl: ".swiper-button-next",
	            prevEl: ".swiper-button-prev"
	         },
	      });

	</script>

</th:block>

</html>