<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="sns/layout/basic">
<th:block layout:fragment="title">
	<title>Planiter</title>
</th:block>

<th:block layout:fragment="write-post">
	<div class="error_page">
		<div class="session_error_message">
			<h1>Planiter 회원만이 접근 가능합니다. 로그인 해주세요.</h1>
		</div>
		<div class="session_error_login">
			<a th:href="@{/login}">로그인</a>
			<a th:href="@{/join}">회원가입</a>
		</div>
	</div>
</th:block>

</html>