<!DOCTYPE html>
<html>
<head>

<script src="http://madalla.kr/js/jquery-1.8.3.min.js"></script>


<style type="text/css">
body {
	height: 2000px
}

.box {
	background: blue;
	height: 200px;
	width: 200px;
	margin: 0 auto;
}

.box:nth-child(odd) {
	background: red;
}

.box:first-child {
	background: purple;
}

.pagination {
	text-align: center;
}

.infinite {
	counter-reset: section;
}

.list {
	text-align: center;
}

.list:before {
	counter-increment: section;
	content: counter(section);
	color: black;
	margin: 0 auto;
	font-size: 40px;
}
</style>










<meta charset="UTF-8">
<title>Insert title here</title>
</head>
 
	<div class="infinite">
		<div class="list">
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
		</div>
	</div>
	<div class="pagination">페이지네이션</div>
 



<script type="text/javascript">
	function YesScroll() {
		const pagination = document.querySelector('.paginaiton');
		const fullContent = document.querySelector('.infinite');
		const screenHeight = screen.height;
		let oneTime = false;
		document.addEventListener('scroll', OnScroll, {
			passive : true
		})
		function OnScroll() {
			const fullHeight = fullContent.clientHeight;
			const scrollPosition = pageYOffset;
			if (fullHeight - screenHeight / 5 <= scrollPosition && !oneTime) {
				oneTime = true;
				madeBox();
			}
		}
		function madeBox() {
			const list = document.createElement('div');
			const box = list.cloneNode('false');
			box.className = "box";

			for (var i = 0; i < 5; i++) {
				list.appendChild(box.cloneNode('true'));
			}
			list.className = "list";
			fullContent.appendChild(list);
			oneTime = false;
		}
	}
	YesScroll()
</script>

</html>