
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="main/layout/basic">
 
<meta charset="UTF-8">

<th:block layout:fragment="css">



<!-- deail  -->
	
 	<link rel="stylesheet" href="../assets/detail/jquery-ui.css">
    <link rel="shortcut icon" href="https://fuleaf.com/images/favicon.ico">
	<link rel="icon" href="https://fuleaf.com/images/favicon.ico">
<link rel="stylesheet" href="../assets/detail/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
<link rel="stylesheet" href="../assets/detail/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="../assets/detail/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="../assets/detail/jquery.min.js"></script>
<script src="../assets/detail/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="../assets/detail/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link href="../assets/detail/css" rel="stylesheet">
<link rel="stylesheet" href="../assets/detail/swiper-bundle.min.css">
<script src="../assets/detail/jquery-1.12.4.js"></script>
<script src="../assets/detail/jquery-ui.js"></script>
<title>PLANiT</title>
<link rel="stylesheet" href="../assets/detail/styles.css">
	
	<!-- deail  -->
 


	<link href="/css/search.css" rel="stylesheet">
	 
	
	<style>
	
	#addPlant{
	background-color: #9FCF62;
    border: none;
    color: white;
    width: 110px;
    height: 25px;
	}
	

	li.plantTags__item{
	border-radius: 10px; 
	padding: 9px 17px 6px;
    background-color: #f5f5f5;
    font-size: 14px;
    letter-spacing: -0.7px;
    text-align: center;
    color: #666;
    margin-bottom: 6px;
    width: auto;
    margin-right: 4px;
    display: flex;
    flex-wrap: wrap;
	}
	
	#userItem{
	display: flex;
    justify-content: space-between;
	}
	
 	#userItems img{
 	height: 150px;
	width: 150px;
    margin: 13px;
	}
	
	#detail_profileImg{
	border-radius: 50%;
	}
	
	#detail_userId{
	font-size: 19px;
    font-weight: bold; 
	}
	
	
	</style>
</th:block>



<th:block layout:fragment="content">

	<div class="main">
		<div id="main-wrapper">

<div id="curation__alarm-popup">
		<div class="popup__dimed-flex">
			
		</div>
	</div>
	
	
 
	<div id="layout_body">
		<div class="plantDetail__page" id="plantDetail__page">
			<section class="plantDetail__search-section" style="height: 0px;">
				<div class="search__section-flex">
					<form class="search-form" action="/planit/search"
						method="get" style="opacity: 0; transform: translateY(-50px);">
						<div class="search-form-flex">
							<input class="search-form-input" type="text"
								placeholder="식물 이름을 검색해 주세요." name="term" required="">
							<button class="search-form-submit" type="submit">
								<img class="submit-img"
									src="/assets/detail/imgs/search-white-ico@3x.png">
							</button>
						</div>
					</form>
				</div>
				<div class="mobile-slide-btn rsp-mobile">
					<div class="slide-btn"></div>
				</div>
			</section>
			<div class="plantDetail__page-flex">
				<section class="plantDetail-slide-section">
					
					<!-- 식물 이미지 -->
					<div
						class="swiper-container s1 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
						<div class="slide_nav_section">
							<div class="main_slide_nav">
								<div
									class="slide_nav_bar swiper-pagination-progressbar swiper-pagination-horizontal">
									<span class="swiper-pagination-progressbar-fill"
										style="transform: translate3d(0px, 0px, 0px) scaleX(0.333333) scaleY(1); transition-duration: 300ms;"></span>
								</div>
							</div>
							<div class="slide_number_section">
								<span class="current_number">01</span>
								<img src="/assets/detail/imgs/ico-step@3x.png" width="14px">
								<span class="total_number">03</span>
							</div>
						</div>
						<div class="swiper-wrapper" id="swiper-wrapper-5ec6dfc4f4c55de3"
							aria-live="off"
							style="transform: translate3d(-3801.56px, 0px, 0px); transition-duration: 0ms;">
						<!-- 	<div
								class="swiper-slide plant__image-item swiper-slide-duplicate"
								data-swiper-slide-index="0" role="group" aria-label="1 / 3">
								<input class="image_current_number" type="hidden" value="1"><img
									src="/assets/detail/imgs/1590393690857coosigner_92567911_146187826906443_248297367443387629_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B-xzqFMhJVB/?utm_source=ig_web_copy_link"
									target="_blank"></a>
							</div>
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate"
								data-swiper-slide-index="1" role="group" aria-label="2 / 3">
								<input class="image_current_number" type="hidden" value="2"><img
									src="/assets/detail/imgs/1590393690904choco_cosmos_83353568_1618466708307139_5495328157475250113_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B8VOmcMpa8V/?utm_source=ig_web_copy_link"
									target="_blank"></a>
							</div>
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate swiper-slide-duplicate-prev"
								data-swiper-slide-index="2" role="group" aria-label="3 / 3">
								<input class="image_current_number" type="hidden" value="3"><img
									src="/assets/detail/imgs/1590397688231kimjekim_90091245_2349676658665464_1917888528749720273_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								
							</div> -->
							<input class="image_total_number" type="hidden" th:value="${imgsCnt}">
							<div   th:each="imgs : ${plantImgs}"
								class="swiper-slide plant__image-item swiper-slide-duplicate-active"
								data-swiper-slide-index="0" role="group">
								<input class="image_current_number" type="hidden" value="1"><img
									th:src="@{${imgs.fileName}}"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								
							</div>
							<!-- <div
								class="swiper-slide plant__image-item swiper-slide-duplicate-next"
								data-swiper-slide-index="1" role="group" aria-label="2 / 3">
								<input class="image_current_number" type="hidden" value="2"><img
									src="/assets/detail/imgs/1590393690904choco_cosmos_83353568_1618466708307139_5495328157475250113_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B8VOmcMpa8V/?utm_source=ig_web_copy_link"
									target="_blank"></a>
							</div>
							<div class="swiper-slide plant__image-item swiper-slide-prev"
								data-swiper-slide-index="2" role="group" aria-label="3 / 3">
								<input class="image_current_number" type="hidden" value="3"><img
									src="/assets/detail/imgs/1590397688231kimjekim_90091245_2349676658665464_1917888528749720273_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B99HKLRg4vX/?utm_source=ig_web_copy_link"
									target="_blank"></a>
							</div>
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate swiper-slide-active"
								data-swiper-slide-index="0" role="group" aria-label="1 / 3">
								<input class="image_current_number" type="hidden" value="1"><img
									src="/assets/detail/imgs/1590393690857coosigner_92567911_146187826906443_248297367443387629_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B-xzqFMhJVB/?utm_source=ig_web_copy_link"
									target="_blank"></a>
							</div>
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate swiper-slide-next"
								data-swiper-slide-index="1" role="group" aria-label="2 / 3">
								<input class="image_current_number" type="hidden" value="2"><img
									src="/assets/detail/imgs/1590393690904choco_cosmos_83353568_1618466708307139_5495328157475250113_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B8VOmcMpa8V/?utm_source=ig_web_copy_link"
									target="_blank"></a>
							</div>
							<div
								class="swiper-slide plant__image-item swiper-slide-duplicate swiper-slide-duplicate-prev"
								data-swiper-slide-index="2" role="group" aria-label="3 / 3">
								<input class="image_current_number" type="hidden" value="3"><img
									src="/assets/detail/imgs/1590397688231kimjekim_90091245_2349676658665464_1917888528749720273_n.jpg"
									width="100%" height="100%">
								<div class="slide_gradient"></div>
								<a class="plant__image-link"
									href="https://www.instagram.com/p/B99HKLRg4vX/?utm_source=ig_web_copy_link"
									target="_blank"></a>
							</div> -->
						</div>
						
						
						<div class="main-swiper-btn-prev" tabindex="0" role="button"
							aria-label="Previous slide"
							aria-controls="swiper-wrapper-5ec6dfc4f4c55de3">
							<img src="/assets/detail/imgs/main-slider-left@3x.png" width="30px"
								height="30px">
						</div>
						<div class="main-swiper-btn-next" tabindex="0" role="button"
							aria-label="Next slide"
							aria-controls="swiper-wrapper-5ec6dfc4f4c55de3">
							<img src="/assets/detail/imgs/main-slider-right@3x.png" width="30px"
								height="30px">
						</div>
						<span class="swiper-notification" aria-live="assertive"
							aria-atomic="true"></span>
					</div>
				</section>
				
				<!-- 식물 이미지 END -->
				
				
				<section class="plants-simpleinfo-section" th:each="detail:${plantDetail}">
					<div class="simpleinfo-title">
					 <span th:if="${session.userdto != null}">
					<input type="button" value="내 식물 추가하기 ➩" id="addPlant" onclick="addplant()">
				     </span>
				     
						<h1 class="simpleinfo-plantname_english mainColorTitle" th:text="${detail.plantEng}"> 
							 </h1>
						<h2 class="simpleinfo-plantname_korean mainTitle" th:text="${detail.plantsName}"> 
							 </h2>
							 <ul class="plantTags__items" style="display: flex; display: flex;flex-direction: row;
    flex-wrap: wrap; width: 90%; min-width: 500px;">
							    <li class="plantTags__item" th:each="key:${PlantKeyword}" th:text="${key.keyName}"></li>
							 </ul>
						<h3 class="simpleinfo-plantname_intro" th:text="${detail.pDescription}"> </h3>
					</div>

							
							<input type="hidden" th:value="${detail.plantsName}" id="plantsName">
					<!-- 식물 상세설명  -->
					<div class="simpleinfo-table" >
						<ul class="table-items">
						</ul>
					</div>
				</section>
			</div>
			
			
			<section class="plants-raise-section">
			<div>
			
 			  <h1 class="mainColorTitle">planiter</h1>
			  <h2 class="mainTitle" th:text="${plantsName}"></h2>
					 <span id="userItems" style="margin-left: 53px;"> 
						 <span th:each="user:${userList}" style="display: inline-block;  width: 185px; text-align: center;"> 
							<span style="width: 250px; height: 250px;">
							<a th:href="@{/planiter/{id}(id=${user.userId})}">
							  <img id="detail_profileImg" th:src=" @{${'/imgs/img_section/'+user.proFileImg}}">  
							  <span id="detail_userId" th:text="${user.userId}"></span></a>
							</span>
						 </span>
					 </span>


						</div>
				 
			</section>
			
			
			<section class="plants-sos-section">
				<div class="sos-title">
					<h1 class="mainColorTitle">sos solution</h1>
					<h2 class="mainTitle">혹시 식물이 아파요?</h2>
				</div>
				<div class="sos-desc">
					<ul class="sos-items">
						<li class="sos-item" th:each="sol:${solution}"><div class="sos-item-title">
								<div class="question-mark">Q.</div>
								<h3 th:text="${sol.solTitle}"></h3>
								<button class="sos-item-button" type="button">
									<img
										src="/assets/detail/imgs/search_detail_sos_dropdown_arrow_down@2x.png">
								</button>
							</div>
							<div class="sos-item-desc">
								<h3 class="height-fake" th:text="${sol.solContent}"></h3>
								<h3 class="height-real" th:text="${sol.solContent}"></h3>
							</div></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	
	<script src="/assets/detail/swiper-bundle.min.js"></script>
	<script src="/assets/detail/main.js"></script>
		 
		</div>
	</div>
</th:block>


<th:block layout:fragment="script">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:inline="javascript">
	 
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());
	gtag('config', 'UA-148463141-1');
 
	
	 
	/*<![CDATA[*/
     var plantsId = /*[[${plantsId}]]*/ 'default';
     var userId = /*[[${USERID}]]*/ 'default';
    /*]]>*/
	
      //식물 상세설명 출력
		 $.ajax({
				type : 'get',
				url : "/planit/plantDes?plantsId="+plantsId,
				contentType : "application/json; charset=UTF-8",
				dataType : "json",
				success : function(data) {
					 var plantDes = '';
					 
			  	$.each(data, function(index, item) {
			  		console.log('data: '+JSON.stringify(item)+' '+index);
			  		if(index==0){
		       var plantDes ='<div class="table-items-flex">'
							 +'<li class="table-item"><img class="table-item-img"src="/assets/detail/imgs/ico-water-sprinkler@3x.png">'
							 +'<h1 class="table-item-title">'+item.desTitle+'</h1>'
							 +'<h2 class="table-item-desc">'+item.des+'</h2></li>'
							 +'<li class="table-item"><img class="table-item-img"src="../assets/detail/imgs/ico-sun@3x.png">'
					 $(".table-items").append(plantDes);
			  	    }else if(index==1){
			   var plantDes ='<h1 class="table-item-title">'+item.desTitle+'</h1>'
						     +'<h2 class="table-item-desc">'+item.des+'</h2></li></div>';
				     $(".table-item:nth-child(2)").append(plantDes);
			  	    }else if(index==2){
			   var plantDes ='<div class="table-items-flex">'
							 +'<li class="table-item"><img class="table-item-img" src="../assets/detail/imgs/icon-water-drop@3x.png">'
							 +'<h1 class="table-item-title">'+item.desTitle+'</h1>'
							 +'<h2 class="table-item-desc">'+item.des+'</h2></li>'
							 +'<li class="table-item" id="lastDes"><img class="table-item-img" src="../assets/detail/imgs/icon-pen@3x.png">';
					 $(".table-items").append(plantDes);    	
			  	    }else if(index==3){
			   var plantDes ='<h1 class="table-item-title">'+item.desTitle+'</h1>'
					        +'<h2 class="table-item-desc">'+item.des+'</h2></li></div>';
			         $("#lastDes").append(plantDes);
			  	    }
				});  
				
				},
				error : function(jqXHR, textStatus, errorThrown) {
				console.log(jqXHR.responseText);
			}
		});
      
      
		 //나만의 식물 추가하기
		  function addplant() { 
			  var plantsName=$('#plantsName').val();
				 
				$.ajax({
					type : 'get',
					url : "/planit/addPlant?plantsId=" + plantsId +"&userId="+userId+"&plantsName="+plantsName,
					contentType : "application/json; charset=UTF-8",
					dataType : "json",
					success : function(data) {
						 if(data!=0){
							 alert('이미 등록하신 식물입니다');
						 }else{
							 alert('식물이 등록되었습니다')
						 }
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log(jqXHR.responseText);
					}
				});
			}  
			  
	
	
	</script>
</th:block>

 




</html>